---
layout: default
title: Chahat Kalsi
---

<!-- Intro -->
<section id="about" class="intro">
  <img src="{{ '/assets/portrait.jpg' | relative_url }}" alt="Chahat Kalsi">
  <div>
    <p><strong>PhD Student</strong><br><span class="muted">Computer Science, New York University</span></p>
    <p>I am a PhD student in Computer Science at New York University (NYU)'s
      <a href="https://vida.engineering.nyu.edu/">VIDA Center</a>, where, advised by
      <a href="https://kruegert.github.io/">Robert Krueger</a> and
      <a href="https://www.immersivecomputinglab.org/">Qi Sun</a>, I am currently
      researching visualization and visual analytics for 3D microscopy volumes.</p>
    <p>I did my MS in Computer Science at Stony Brook University (SBU), where, advised by
      <a href="https://www3.cs.stonybrook.edu/~ari/">Arie Kaufman</a>, my research
      primarily focused on virtual reality visualization techniques for Large Wall
      Displays (LWDs).</p>
    <p>
      <a href="https://github.com/Chahat08"><i class="fa-brands fa-square-github"></i> GitHub</a>
      · <a href="https://www.linkedin.com/in/chahat-kalsi/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
      · <a href="https://scholar.google.com/citations?user=v1wY00YAAAAJ&hl=en"><i class="fa-brands fa-google-scholar"></i> Google Scholar</a>
      · <a href="mailto:chahat.kalsi@nyu.edu">chahat.kalsi@nyu.edu</a>
    </p>
  </div>

  <!-- Education -->
  <div class="edu-inline">
    {% for edu in site.data.education %}
    <figure>
      <a href="{{ edu.url }}" target="_blank" rel="noopener">
        <img class="edu-inline-logo" src="{{ edu.logo | prepend: '/assets/' | relative_url }}" alt="{{ edu.name }}">
      </a>
      <figcaption><small>{{ edu.degree }} • {{ edu.years }}</small></figcaption>
    </figure>
    {% endfor %}
  </div>
</section>

<!-- Awards -->
<section id="awards">
  <h2>Awards &amp; Honours</h2>
  <ul class="list">
    {% for award in site.data.awards %}
    <li>
      <b>{{ award.title }}</b>
      {% if award.for %} for <i>{{ award.for }}</i>{% endif %}
      - <span class="muted">{{ award.from }}</span>
    </li>
    {% endfor %}
  </ul>
</section>

<!-- Publications -->
<section id="publications">
  <h2>Publications</h2>
  <ol class="pubs">
    {% for pub in site.data.publications %}
    <li>
      <div class="pub-item">
        <img class="pub-thumb" src="{{ pub.thumb | prepend: '/assets/' | relative_url }}" alt="Paper thumbnail">
        <div class="pub-meta">
          <strong>{{ pub.title }}</strong>
          {% if pub.badge %}<span class="badge">{{ pub.badge }}</span>{% endif %}
          <br>{{ pub.authors }}
          <br><em>{{ pub.venue }}</em>
          <div class="pub-links">
            {% for link in pub.links %}
            <a href="{{ link.url }}" target="_blank" rel="noopener">{{ link.label }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ol>
</section>

<!-- Posters, Presentations & Talks -->
<section id="posters">
  <h2>Posters, Presentations &amp; Talks</h2>
  <ol class="pubs">
    {% for pub in site.data.presentations %}
    <li>
      <div class="pub-item">
        <img class="pub-thumb" src="{{ pub.thumb | prepend: '/assets/' | relative_url }}" alt="Paper thumbnail">
        <div class="pub-meta">
          <strong>{{ pub.title }}</strong>
          <br>{{ pub.authors }}
          <br><em>{{ pub.venue }}</em>
          <div class="pub-links">
            {% for link in pub.links %}
            <a href="{{ link.url }}" target="_blank" rel="noopener">{{ link.label }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ol>
</section>

<!-- Other Projects -->
<section id="other-projects">
  <h2>Other Projects</h2>
  <ol class="pubs">
    {% for pub in site.data.other_projects %}
    <li>
      <div class="pub-item">
        <img class="pub-thumb" src="{{ pub.thumb | prepend: '/assets/' | relative_url }}" alt="Paper thumbnail">
        <div class="pub-meta">
          <strong>{{ pub.title }}</strong>
          <br>{{ pub.authors }}
          <br><em>{{ pub.venue }}</em>
          <div class="pub-links">
            {% for link in pub.links %}
            <a href="{{ link.url }}" target="_blank" rel="noopener">{{ link.label }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ol>
</section>

<!-- Teaching -->
<section id="teaching">
  <h2>Teaching</h2>
  <ul class="list">
    {% for t in site.data.teaching %}
    <li>
      <strong>{{ t.role }}</strong> -
      <span class="muted">{{ t.institution }}, {{ t.term }}</span> -
      {{ t.note }}
    </li>
    {% endfor %}
  </ul>
</section>

<!-- Art (Featured) -->
<section id="art">
  <h2>Art</h2>
  <p class="muted">These are some pages from my many watercolor journals, most of them
    painted live on location - usually very quickly, but with a lot of heart! Those marked
    with a "†" are painted using references from the internet, and those marked with a "*"
    are original works.</p>
  <div class="gallery">
    {% for painting in site.data.art_featured %}
    <figure>
      <a href="{{ painting.file | prepend: '/assets/' | relative_url }}" target="_blank">
        <img src="{{ painting.file | prepend: '/assets/' | relative_url }}" alt="{{ painting.alt }}">
      </a>
      <figcaption>{{ painting.caption }}</figcaption>
    </figure>
    {% endfor %}
  </div>
  <p class="more-art"><a href="{{ '/art' | relative_url }}">Like my art? Here's where you can see more of it!</a></p>
</section>
